.button {
    width: 7rem;
    height: 2.1rem;
    border-radius: 10%;
    border-width: 0rem;
    background-color: rgb(121, 212, 182);
    box-shadow: 0.5rem 0.5rem 1rem rgb(8, 74, 52);
    cursor: pointer
}