html body {
    background-color: #00a173;
    background-image: url("https://transparenttextures.com/patterns/asfalt-light.png");
    margin: 0rem;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sansita-bold {
  font-family: "Sansita", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansita-regular {
  font-family: "Sansita", sans-serif;
  font-weight: 500;
  font-style: normal;
}
