#navbar-container {
    display: flex;
    height: 3rem;
    background-color: white;
    opacity: 0.35;
}

.navbar{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 2rem;
    color: black;
    flex-wrap: nowrap;
    min-width: 0;
}

.home-link {
    margin-left: 1.5rem;
}

.nav-link {
    text-decoration: none;
    color: rgb(5, 103, 0);
}

.nav-link:hover {
  color: gray;       
}

.nav-title {
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: 2rem;
}

@media (max-width: 576px) {

    #navbar-container {
        height: auto;
        padding: 0.5rem 0;
    }

    .navbar {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .home-link {
        margin-left: 0;
    }

    .nav-title {
        font-size: 1.2rem;
        display: none;
    }

    .nav-link {
        font-size: 1.2rem;
    }
}